.date-list {
  display: grid;
  margin: var(--xxl) 0;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.date-list__item {
  display: grid;
  align-items: center;
  gap: calc(var(--grid-gap) / 2);
  grid-template-columns: auto 1fr auto;

  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 5px solid var(--color-fg);
    font-family: var(--ff-mono);
  }

  .name {

    & h3 {
      font-size: var(--fs-s);
      line-height: var(--lh-s);
      margin-block-end: 0;
    }

    & p {
      font-size: var(--fs-xs);
      line-height: var(--lh-xs);
    }
  }

  .label {
    padding: calc(var(--xxs) / 2) var(--xs);
    background-color: var(--color-fg);
    color: var(--color-bg);
    font-weight: var(--fw-bold);
    
    &a {
      text-decoration: none;

      @mixin hoverBoxShadow var(--color-yellow);
    }
  }
}