<!DOCTYPE html>
<html lang="de">
<head>
  {% include 'partials/head.njk' %}
  <body>
    {% include 'partials/banner.njk' %}

    <main>
    {{ content | safe }}
    </main>

    {% include 'partials/footer.njk' %}
  </body>
</html>