<!DOCTYPE html>
<html lang="de">
<head>
  {% include 'partials/head.njk' %}
  <body>

    <nav class="wrapper">
      <a href="/">Startseite</a>
    </nav>

    <main class="small | wrapper m-bs-xxl">
      {{ content | safe }}
    </main>

    {% include 'partials/footer.njk' %}
  </body>
</html>