<!DOCTYPE html>
<html lang="de">
<head>
  {% include 'partials/head.njk' %}
  <body>
    {% include 'partials/banner.njk' %}

    <main class="wrapper">
      <section>
        {% include 'partials/dates.njk' %}
      </section>

      <section>
       {{ content | safe }}
      </section>
    </main>

    {% include 'partials/footer.njk' %}
  </body>
</html>