body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  display: grid;
  grid-template-rows: minmax(200px, auto) 1fr minmax(200px, auto);
  gap: 30px;
  min-height: 100vh;
}

main, nav {
  margin-block: var(--xxl);
  padding: var(--m);
}

footer {
  margin-block-start: var(--xxl);

  .content {
    padding: var(--m);
  }

  & p {
    font-size: var(--fs-s);
    line-height: var(--lh-s);
  }

  .pattern {
    background-image: url(/images/pattern.svg);
    background-repeat: repeat;
    background-size: 150px;
    background-position: top;
    height: 200px;
  }
}


body
 {font-family: var(--ff-sans);

font-size: var(--fs-s);
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'sinf' on;
}

section:not(:last-child) {
  margin-block-end: calc(var(--xxl) * 3);
}

p {
font-size: var(--fs-l);

  & + p {
    margin-block-start: var(--l);
  }
}

.small p {
  font-size: var(--fs-s);
  line-height: var(--lh-m);
}

strong {
  font-weight: var(--fw-bold);
}

em {
  font-style: italic;
}


h1, h2, h3, h4 {
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);

  &:not(:first-child) {
    margin-block-start: calc(var(--xxl) * 3);
  }
}
.small :where(h1, h2, h3, h4):not(:first-child) {
  margin-block-start: var(--l);
}

h1 {
  font-size: var(--fs-l);
  margin-block-end: var(--l);
}

h2 {
  margin-block-end: var(--l);
  font-size: var(--fs-m);
}
h3 {
  font-size: var(--fs-s);
}
h4 {
  font-size: var(--fs-xs);
}


a {
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}