.ff-sans {
  font-family: var(--ff-sans);
}
.ff-mono {
  font-family: var(--ff-mono);
}

.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-black {
  font-weight: var(--fw-black);
}