.ff-sans {
  font-family: var(--ff-sans);
}
.ff-mono {
  font-family: var(--ff-mono);
}

.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-black {
  font-weight: var(--fw-black);
}

.fs-xxs {
  font-size: var(--fs-xxs);
}

.fs-xs {
  font-size: var(--fs-xs);
}

.fs-s {
  font-size: var(--fs-s);
}

.fs-m {
  font-size: var(--fs-m);
}

.fs-l {
  font-size: var(--fs-l);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.lh-xxs {
  line-height: var(--lh-xxs);
}

.lh-xs {
  line-height: var(--lh-xs);
}

.lh-s {
  line-height: var(--lh-s);
}

.lh-m {
  line-height: var(--lh-m);
}

.lh-l {
  line-height: var(--lh-l);
}

.lh-xl {
  line-height: var(--lh-xl);
}

.lh-xxl {
  line-height: var(--lh-xxl);
}


.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.text-balance {
  text-wrap: balance;
}

.text-color-fg {
  color: var(--color-fg);
}

.text-color-fg-light {
  color: var(--color-fg-light);
}

.wrapper {
  margin-inline: auto;
  max-width: var(--max-width);
}