
@each $size in (xxs, xs, s, m, l, xl, xxl) {
  .fs-$(size) {
    font-size: var(--$(size));
  }

  .lh-$(size) {
    line-height: var(--$(size));
  }

  .m-b-$(size) {
    margin-block: var(--$(size));
  }

  .m-bs-$(size) {
    margin-block-start: var(--$(size));
  }

  .m-be-$(size) {
    margin-block-end: var(--$(size));
  }

  .m-i-$(size) {
    margin-inline: var(--$(size));
  }

  .m-is-$(size) {
    margin-inline-start: var(--$(size));
  }

  .m-ie-$(size) {
    margin-inline-end: var(--$(size));
  }

  .p-b-$(size) {
    padding-block: var(--$(size));
  }

  .p-bs-$(size) {
    padding-block-start: var(--$(size));
  }

  .p-be-$(size) {
    padding-block-end: var(--$(size));
  }

  .p-i-$(size) {
    padding-inline: var(--$(size));
  }
  
  .p-is-$(size) {
    padding-inline-start: var(--$(size));
  }

  .p-ie-$(size) {
    padding-inline-end: var(--$(size));
  }

}