<header>

  <div class="background" aria-hidden="true">
    <img src="{{ '/images/elements.svg' }}" class="background__elements">
    <div class="background__grid"></div>
  </div>

  <div class="title">
    <div>
      <h1><span class="fw-black">Nadine</span><span class="fw-light">Söhnert</span></h1>
    <span class="ff-mono">Comedy – Regie – Moderation</span>
      </div>

      {% include '../../static/images/image.svg' %}
  </div>
  

</header>